<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eShop</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <script src="script.js"></script>
</head>
<body>
<div id="root">
  <header>
    <h1>eShop</h1>
    <div class="header-container">
      <search_component v-model="search"></search_component>
      <div class="cart-wrapper">
        <button class="cart-button" type="button" @click="toggleCartVisibility">Корзина</button>
        <goods_cart v-if="isCartVisible" @close="toggleCartVisibility"></goods_cart>
      </div>
    </div>
  </header>
  <main>
    <transition name="fade">
      <notification v-if="isErrorVisible"></notification>
    </transition>
    <div class="goods-list_wrapper">
      <div class="shimmer" v-if="!filteredItems.length">Нет данных</div>
      <div class="goods-list">
        <goods_item v-for="item in filteredItems" :key="item.id_product" :item="item"></goods_item>
      </div>
    </div>
  </main>
</div>
</body>
</html>
