* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: #EBF3FB;
    margin-bottom: 24px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin-right: 20px;
}

.goods-search {
    font-size: 16px;
    letter-spacing: 0.04em;
    border-radius: 15px;
    padding: 6px 22px;
    border: 1px solid;
}

.shimmer {
    font-size: 26px;
    letter-spacing: 0.04em;
}

.cart-wrapper {
    position: relative;
}

.basket {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 37px;
    box-sizing: border-box;
    padding: 16px 12px 16px;
    box-shadow: 5px 5px 12px 4px rgba(16, 112, 177, 0.1);
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #ebebeb;
    font-size: 14px;
}

.basketClose-wrapper {
    display: flex;
    justify-content: end;
}

.basketClose-wrapper svg {
    cursor: pointer;
}

.basketClose-wrapper svg:hover line {
    stroke: #5A98D0;
}

@media (min-width: 340px) {
    .basket {
        font-size: 16px;
    }
}

@media (min-width: 552px) {
    .basket {
        width: 540px;
    }
}

.basketRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.basketHeader {
    font-weight: bold;
}

.basketTotal {
    font-weight: bold;
    text-align: right;
}

.cart-button {
    font-size: 16px;
    letter-spacing: 0.04em;
    background: #5A98D0;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 15px;
    padding: 8px 24px;
    border: none;
    box-shadow: 0 0 2px 1px rgba(53, 110, 173, 0.2);
    cursor: pointer;
}

.cart-button:hover {
    box-shadow: 0 0 4px 2px rgba(53, 110, 173, 0.4);
}

.goods-list_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
}

.goods-list {
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 12px 0;
    margin:-12px;
}

.goods-list>* {
    flex: 0 0 22%;
    margin: 12px;
}

.goods-item {
    box-sizing: border-box;
    padding: 16px 12px 16px;
    box-shadow: 5px 5px 12px 4px rgba(16, 112, 177, 0.1);
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.goods-item:hover {
    box-shadow: 5px 10px 30px 8px rgba(16, 112, 177, 0.3);
}

.goods-item_img_wrapper {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.add_to_cart_wrapper {
    display: flex;
    justify-content: end;
}

.add_to_cart {
    margin-top: 12px;
    font-size: 14px;
    letter-spacing: 0.06em;
    background: #7490A0;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 15px;
    padding: 8px 24px;
    border: none;
    box-shadow: 0 0 2px 2px rgba(53, 110, 173, 0.2);
    cursor: pointer;
}

.add_to_cart:hover {
    box-shadow: 0 0 6px 2px rgba(53, 110, 173, 0.5);
}

.notification {
    background-color: red;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -24px;
    margin-bottom: 24px;
    border: 1px solid black;
}

.notification h4 {
    text-align: center;
    font-size: 18px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}